@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Montserrat+Subrayada:100,200,300,400,500,600,700");


html {
  min-height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

/* Colours */

.brown {
  color: #220901;
}

.light-brown {
  color: #621708;
}

.dark-red {
  color: #941b0c;
}

.rust {
  color: #bc3908;
}

.yellow {
  color: #f6aa1c;
}

.white {
    color: #fff;
}

/* General Styling - Spacing, capitalisation, etc */

.uppercase {
  text-transform: uppercase;
}

#logo,
.navbar {
  line-height: 75px;
}

/*------NAVIGATION----*/

.navbar .navbar-toggler {
    border: 0;
}

.nav-links-style li a {
    color: #220901;
}

.nav-link {
    padding: 0;
}

#logo {
  float: left;
  font-size: 150%;
  margin-left: 20px;
  font-family: "Montserrat Subrayada";
  padding-top: 10px;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 10px;
    background-color: white;
}

.nav-login-basket-links {
    text-align: right;
    display: inline;
    line-height: 40px;
    list-style-type: none;
}

.nav-login-basket-links a {
    color: #220901;
}

.nav-login-basket-links a i {
    color: #220901;
    font-size: 15px;
    padding-left: 10px;
}

/* -------Hero image-----*/

.hero-container {
  height: 70vh;

  background: url("../images/hero.png") no-repeat center center fixed;

-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

/* Flexbox */
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

/* jumbotron */

.jumbotron {
    background-color: transparent;
    text-align: center;
}

.jumbotron-header {
    font-weight: bold;
    margin-bottom: 30px;
    color: #fff;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #fff;
}

.lead {
    font-size: 20px;
}

/* BUTTONS*/

.btn--cta {
    font-weight: bold;
    border-radius: 30px;
    width: 160px;
    align-items: center;
}

.btn--colour {
    color: white;
    background-color: #bc3908;
    border-color: #bc3908;
}

.btn--colour:hover,
.btn--colour:active,
.btn--colour:focus,
.btn--colour:active:focus {
    background-color: #621708;
    border-color: #621708;
    color: #fff;
}

.btn--search {
    font-weight: bold;
    border-radius: 30px;
    width: 100px;
    align-items: center;
}

/* GRID IMAGES */

img.links {
  border: 1px solid #220901;
}

.links {
  height: 200px;
  width: 350px;
  object-fit: cover;
  position: relative;
  display: inline-block;
}

.img-final {
    padding-top: 10px;  /* GRID IMAGES FINAL */
    padding-bottom: 10px;
}

.col-final {
    padding-top: 10px;  /* GRID IMAGES FINAL */
    padding-bottom: 10px;
}

.link-text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;  
  text-align: center;
  top: 40%;
  background:#bc3908;
  color: #fff;
  width: fit-content;
  padding: 5px;
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color: #bc3908;
}

/*SOCIAL LINKS*/

.social-links {
    text-align: center;
    margin-top: 10px;
}

.social-links ul {
    padding: 0;
    margin: 0;
}

.social-links li {
  display: inline;
  font-size: 40px;
}

.social-links i {
    color: #220901;
    font-size: 30px;
}

.social-links li a i {
  padding: 0 10px;
}

/* -----FOOTER------ */

.footer {
    display: inline;
    text-align: center;
}



/*---- Menu Page stylings ----*/

.cafe-menu {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu-drink {
    padding-top: 20px;
    padding-bottom: 20px;
}

.buy-button {
    padding-bottom: 20px;
}

.menu-img {
    padding-bottom: 5px;
}


h2 {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 20px;
    width: 100%;
}

h2:before,
h2:after {
    content: '';
    border-top: 2px solid;
}


/* Remove spinners on the quantity buttons in the menu */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}