@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Montserrat+Subrayada:100,200,300,400,500,600,700');

html {
	min-height: 100vh;
}

body {
	margin: 0;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
    font-family: "Roboto", sans-serif;
}

/* Colours */

.brown {
    color: #220901;
}

.light-brown {
    color: #621708;
}

.dark-red {
    color: #941B0C;
}

.rust {
    color: #BC3908;
}

.yellow {
    color: #F6AA1C;
}

/* General Styling - Spacing, capitalisation, etc */

.uppercase {
    text-transform: uppercase;
}

#logo, .navbar {
  line-height: 75px;
}


/*NAVIGATION*/
 .main-nav {
     font-size: 110%;
     letter-spacing: 4px;
     margin-bottom: 0;
     overflow: hidden;
}
 .fixed-top {
     -webkit-transition: 0.4s;
     -o-transition: 0.4s;
     transition: 0.4s;
}

.fa-shopping-basket, .fa-user {
    font-size: 30px;
}

#logo {
  float: left;
  font-size: 200%;
  margin-left: 30px;
}

/* Logo image, Hero image and Link images for landing page*/

#hero-image {
  height: 600px;
  width: 100%;
  background: url("../images/hero.png") repeat-x center center;

  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;

}

#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden; /* clear: both; would also work */
  position: relative;
}


img.links {
    border: 3px solid #000000;
}

.links {
    height: 10em;
    width: 10em;
    padding: 10px;
    margin-left: 30%;
    position: relative;
    display: inline-block;
}

.link-text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 40%;        
    text-align: center;
    top: 40%; 
    background: rgba(0, 0, 0, 0.8);
    font-family: Arial,sans-serif;
    color: #fff;
    width: fit-content;
}

#cover-text {
  font-size: 130%;
  font-family: Oswald;
  text-transform: uppercase;

  width: 300px;
  height: 200px;

  padding-top: 40px;
  padding-left: 10px;

  background-color: rgba(241, 109, 107, .7);

  bottom: 30px;
  right: 150px;

  position: absolute;
}


/*SOCIAL LINKS*/

.social-links {
    text-align: center;
}
.social-links li {
    display: inline;
    font-size: 40px;
} 
.social-links li a i {
    padding: 0 10px;
}




