html {
	min-height: 100vh;
}

body {
	margin: 0;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
}
/*NAVIGATION*/
 .main-nav {
     font-size: 110%;
     letter-spacing: 4px;
     margin-bottom: 0;
     overflow: hidden;
}
 .fixed-top {
     -webkit-transition: 0.4s;
     -o-transition: 0.4s;
     transition: 0.4s;
}

.fa-shopping-basket, .fa-user {
    font-size: 30px;
}


/* Logo image, Hero image and Link images for landing page*/
.logo-image {
    display: flex;
    float: left;
    height: 150px;
    width: 150px;
    padding: 5px;
    border: 3px solid;
}

.hero-image {
    justify-content: center;
    display: flex;
    min-width: 100%;
    align-items: center;
    margin: auto;
    clear: both;
    height: 26em;
    padding: 10px;
}


.links {
    height: 10em;
    width: 10em;
    padding: 10px;
    margin-left: 30%;
    position: relative;
    display: inline-block;
}

.link-text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 40%;        
    text-align: center;
    top: 40%; 
    background: rgba(0, 0, 0, 0.8);
    font-family: Arial,sans-serif;
    color: #fff;
    width: fit-content;
}

/*SOCIAL LINKS*/

.social-links {
    text-align: center;
}
.social-links li {
    display: inline;
    font-size: 40px;
} 
.social-links li a i {
    padding: 0 10px;
}




